SH31_00_Base/.vs/
SH31_00_Base/Debug/
SH31_00_Base/x64/
SH31_00_Base/packages/
SH31_00_Base/packages.config
SH31_00_Base/Release/
SH31_00_Base/Assimp/
SH31_00_Base/data/
SH31_00_Base/pixelShader3D_NormalMap.cso
SH31_00_Base/PS_ToonMap.cso
SH31_00_Base/VS_ToonMap.cso
